[submodule "apriltag_ros"]
	path = apriltag_ros
	url = https://github.com/Adlink-ROS/apriltag_ros.git
	branch = foxy-devel
[submodule "open_manipulator"]
	path = open_manipulator
	url = https://github.com/ROBOTIS-GIT/open_manipulator.git
	branch = foxy-devel
[submodule "limo_ros2"]
	path = limo_ros2
	url = https://github.com/UruBots/limo_ros2.git
	branch = foxy
[submodule "apriltag"]
	path = apriltag
	url = https://github.com/AprilRobotics/apriltag.git
[submodule "ros2_astra_camera"]
	path = ros2_astra_camera
	url = https://github.com/orbbec/ros2_astra_camera.git
[submodule "yolo_ros"]
	path = yolo_ros
	url = https://github.com/UruBots/yolo_ros.git
